<div class="d-flex justify-content-between mb-3">
  @if(showFilter()){
  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ej. Batman"
      (input)="onFilterChange($any($event.target).value)"
    />
  </mat-form-field>
  }
  <button mat-raised-button color="primary" (click)="onCreateClick()">
    <mat-icon>add</mat-icon>
    Nuevo superhéroe
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  @for (col of displayedColumns(); track col.columnDef) {
  <ng-container [matColumnDef]="col.columnDef">
    <th mat-header-cell *matHeaderCellDef>{{ col.header }}</th>

    <td mat-cell *matCellDef="let element">
      @if (col.columnDef === 'acciones') { @for (icon of col.icons ?? []; track
      icon.action) {
      <button
        mat-icon-button
        [matTooltip]="icon.tooltip ?? icon.action"
        (click)="onIconClick(icon.action, element)"
      >
        <mat-icon>{{ icon.name }}</mat-icon>
      </button>
      } } @else {
      {{ element[col.columnDef] }}
      }
    </td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columnKeys()"></tr>
  <tr mat-row *matRowDef="let row; columns: columnKeys()"></tr>
</table>
@if(showPagination()){
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
}
