<h2 mat-dialog-title>{{ isEdit ? 'Editar' : 'Crear' }} Súper Héroe</h2>

<form [formGroup]="form" class="w-100" (ngSubmit)="save()" mat-dialog-content  >
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Poder</mat-label>
    <input matInput formControlName="poder" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Origen</mat-label>
    <input matInput formControlName="origen" required />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit">
      {{ isEdit ? 'Guardar cambios' : 'Crear' }}
    </button>
  </div>
</form>
